#roster ul {
	list-style-type: none;
}

#roster li {
	display: block;
	width: 250px;
	height: 100px;
	float: left;
}

#roster img {
	float: left;
	margin-right: 5px;
}

#roster  .name {
	font-weight: bold;
	display: block;
}

#roster .level {
	display: block;
}

#roster .ap {
	display: block;
}

h2 {
	clear: both;
}