#groster ul {
	list-style-type: none;
}

#groster li {
	display: block;
	width: 250px;
	height: 100px;
	float: left;
}

#groster img {
	float: left;
	margin-right: 5px;
}

#groster  .name {
	font-weight: bold;
	display: block;
}

#groster .level {
	display: block;
}

#groster .ap {
	display: block;
}

h2 {
	clear: both;
}